*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

header{
    display: flex;
    background-color: rgb(0, 0, 56);
    position: fixed;
    padding-right: 300px;
    z-index: 1;
}


nav ul{
    display: flex;
    padding-bottom: 20px;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    margin-top: 15px;
    color: white;
    padding-left: 500px;
    gap: 70px


}

.first-sec{
    background-color: rgb(0, 0, 56);
}

.first-cent{
    margin-left: 300px;
    margin-right: 300px;
    color: white;
    
}

.button-1{
    border-radius: 30px;
    background-color:rgb(224, 153, 0);
    padding: 10px;
    color: white;
}

h1{
    font-size: 60px;
}




.img-1:hover{
    transform: scale(1.5);
    transition: 0.2;
    transition-duration: 1s;
    z-index: 2;

}
.sec-sec{
    margin-top: 200px;
    margin-left: 450px;
    margin-right: 500px;
}

.head2{
    font-size: 32px;
    margin-bottom: 30px;
}

.span2{
    font-size: 16px;
    margin-bottom: 40px;
    display: block;
}

.span3{
    font-size: 16px;

}

.third-sec{
    margin-top: 200px;
    margin-bottom: 100px;
}


.head3{
    font-size: 36px;
    margin-left: 200px;
    margin-right: 800px;
}



.img-2{
    border-radius: 30px;
    margin-left: 200px;
}



.img-2:hover{
    transform: scale(1.1);
    transition: 0.3;
    transition-duration: 1s;
    transition-behavior: ;
}

.mg

.img-3{
    margin-left: 70px;
}


.button-2{
    margin-left: 800px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(0, 0, 56);
}



.img-4:hover{
    transform: scale(1.1);
    transition: 0.3;
    transition-duration: 1s;
    transition-behavior: ;
}


.flex-container{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    flex-wrap: nowrap;
    gap: 20px;
}

#one{
    margin-right: px;
    flex-wrap: wrap;
}





.fourth-sec{
    display: flex;

}




.parent-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 180px;
    align-items: center;
}


.div1{
    font-size: 25px;
    margin-right: 100px;
}
.div2{
    font-size: 14px;
}

.parent-div2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 50px 150px;
}


.head4{
    font-size: 28px;
    margin-bottom: 25px;
}


.image-4{
    border-radius: 30px;
    margin-left: 30px;
}

.p1{
    line-height: 29px;
    margin-bottom: 30px
}

.p2{
    margin-bottom: 100px;
}


.p3{
    font-size: 16px;
}


.button-3{
    border: none;
    background-color: white;

}

a{
    text-decoration: none;
}

